@import 'style';

/*------------------------------------------------------------------
[Table of contents]

1. Color Sheme / Colors, textures
2. Basic Styles
3. Sections (Like Blog, Services, Portfolio, Contact, ...)
4. Templates
5. Media Query
6. Homepage
7. Global

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[1. Color Sheme / Colors, textures]
*/

/* official RIDING BYTES colors */

$rb-gold: #91825c;   /* Prim채rfarbe: Gold */
$rb-blue: #293333;   /* Prim채rfarbe: Blau */
$rb-cyan: #70ccad;   /* Sekund채rfarbe: Cyan */
$rb-orange: #ff8033; /* Sekund채rfarbe: Orange */


/*------------------------------------------------------------------
[2. Basic Styles]
*/

@mixin rb-content-fonts {
  h1 {font-family: $font-accident-one-light; font-size: 45px;}
  h2 {font-family: $font-accident-one-light; font-size: 36px;}
  h3 {font-family: $font-accident-one-light; font-size: 26px;}
  h4 {font-family: $font-accident-one-light; font-size: 22px;}
  h5 {font-family: $font-accident-one-light; font-size: 18px;}
  h6 {font-family: $font-accident-one-light; font-size: 14px;}
}

/* font-awesome icons */
i, i.fa { color: $rb-cyan; }

/*------------------------------------------------------------------
[3. Sections]
*/

/* Default section style from Electron v1.2 */
@mixin rb-section($url) {
  @include clearfix;
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element
  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 120px;
    left: 0;
    background-color: $bg-light;
    background: url($url) no-repeat top center;
    background-size: cover;
    will-change: transform; // creates a new paint layer
    z-index: -1;
  }
}

/* Section Images */

/* BLOG */
.section-blog {
  @include rb-section("../img/sections/blog_large.jpg");
}
.section-portfolio {
  @include rb-section("../img/sections/portfolio_large.jpg");
  &::before {
    top: 0;
  }
}
.section-wiki {
    @include rb-section("../img/sections/wiki_large.jpg");
    &::before {
        background-position: center center;
    }
}
.section-about {
  @include rb-section("../img/sections/about_large.jpg");
  &::before {
    top: 0;
    background-position: center center;
  }
}
.section-contact {
  @include rb-section("../img/sections/phone_large.jpg");
}
.section-legal {
    @include rb-section("../img/sections/legal_large.jpg");
    &::before {
        top: 0;
        background-position: center center;
    }
}
.section-404 {
  @include rb-section("../img/sections/404_large.jpg");
    &::before {
      top: 0;
      height: 700px;
      background-position: center center;
    }
}

/*------------------------------------------------------------------
[4. Templates]
*/

/* 404 view */
.template-fourohfour {
    background-color: #2b2b2b;
}

/* default single view */
.template-default-page-single {

  /* Default Page Style with a tiny RB Logo in the header */
  .default-page-single {
    @include rb-section("../img/sections/default_single_large.jpg");
    &::before {
      top: 0px;
      background-position: center;
    }
  }

  /* smaller content fonts */
  #content {
    @include rb-content-fonts;
  }
}

/* default listing view - e.g. used for taxonomies */
.template-default-page-listing {
  /* header */
  .default-page-listing {
    @include rb-section("../img/sections/default_listing_large.jpg");
    &::before {
      top: 0px;
      background-position: center;
    }
  }

  /* smaller content fonts */
  #content {
    @include rb-content-fonts;
    padding-bottom: 2em;
  }
}

/* services section*/
.template-services-section {
  /* smaller content fonts */
  #content {
    @include rb-content-fonts;
    padding-bottom: 2em;
  }
}

/* portfolio section */
.template-portfolio-section {
  /* smaller content fonts */
  #content {
    @include rb-content-fonts;
    padding-bottom: 2em;
  }
}

/* about section*/
.template-about-section {
  /* smaller content fonts */
  #content {
    @include rb-content-fonts;
  }
}

/* legal section*/
.template-legal-section {
    /* smaller content fonts */
    #content {
        @include rb-content-fonts;
    }
}

/* single blog post */
.blog-page-single {
  @include rb-section("../img/sections/blogpost_large.jpg");
}
.landing-page {
    @include rb-section("../img/sections/blogpost_large.jpg");
    &::before {
        top: 0;
        background-position: center center;
    }
}
.post-content {
  @include rb-content-fonts;
  padding-bottom: 2em;
  h1, h2 {
      font-weight: bold;
  }
  ul {
      list-style: square;
  }
}
.comment-baloon {
  a {
    text-decoration: none;
    color: white;
  }
}
.widget_categories {
  text-transform: uppercase;
}

/* portfolio section */
.portfolio-content {
  @include rb-content-fonts;
  padding-bottom: 2em;
}
.portfolio-page-single {
  @include rb-section("../img/sections/project_large.jpg");
}

/* contact section */
.template-contact-section {
  /* Contact Email Form */
  #contact {
    background-color: $bg-medium;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  #contact .hp-section-title,
  #contact .hp-section-description {
    color: #fff;
  }
  #contact .form-group {
    margin-bottom: 25px;
  }
  #contact .form-group input,
  #contact .form-group textarea {
    padding: 20px;
  }
  #contact .form-group input.form-control {
    height: auto;
  }
  #contact .form-group textarea.form-control {
    height: 236px;
  }
  #contact .form-control:focus {
    border-color: #A99977;
    box-shadow: none;
  }
  #contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
  }
  #contact:-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
  }
  #contact::-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
  }
  #contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
  }
  #contact .text-danger {
    color: #e74c3c;
  }
}


/*------------------------------------------------------------------
[5. Media Query]
*/

@media (max-width: 1200px) {
    .section-blog {
        @include rb-section("../img/sections/blog_medium.jpg");
    }
    .section-wiki {
        @include rb-section("../img/sections/wiki_medium.jpg");
    }
    .section-services {
        @include rb-section("../img/sections/services_medium.jpg");
    }
    .section-portfolio {
        @include rb-section("../img/sections/portfolio_medium.jpg");
    }
    .section-contact {
        @include rb-section("../img/sections/phone_medium.jpg");
    }
    .section-about {
        @include rb-section("../img/sections/about_medium.jpg");
    }
    .section-legal {
        @include rb-section("../img/sections/legal_medium.jpg");
    }
    .section-404 {
        @include rb-section("../img/sections/404_medium.jpg");
    }
    .blog-page-single {
        @include rb-section("../img/sections/blogpost_medium.jpg");
    }
    .portfolio-page-single {
        @include rb-section("../img/sections/project_medium.jpg");
    }
    .default-page-listing {
        @include rb-section("../img/sections/default_listing_medium.jpg");
    }
    .default-page-single {
        @include rb-section("../img/sections/default_single_medium.jpg");
    }
}

@media (min-width: 992px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {

  // Reduce the size of the headlines on mobile devices
  #header-wrapper-mp .container #page-title .page-title-details {
    h1 {
      font-size: 40px;
      text-transform: uppercase;
      line-height: 44px;
    }
  }
}

@media (max-width: 400px) {
  // Reduce the size of the headlines on mobile devices
  #header-wrapper-mp .container #page-title .page-title-details {
    h1 {
      font-size: 30px;
      text-transform: uppercase;
      line-height: 33px;
    }
  }
}

/*------------------------------------------------------------------
[6. Homepage]
*/

.hp-section-title {
}

.hp-section-description {
  font-family: $font-accident-two;
  font-style: oblique;
}

.hp-team {
  ul.social-buttons {
    margin-bottom: 0;
  }

  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    /*background-color: $rb-gold;*/
  }
}

.hp-customers {
  background-color: #fff;
  .client {
    h4 {font-family: $font-accident-one-light}
  }
}

.system-details {
    text-align: left;
}

/*------------------------------------------------------------------
[7. Global]
*/

/* Top Bar */
#sub-top-dark, #sub-top-light {
    height: 40px;
    font-size: 12px;
    i {margin-right: 4px; font-size: 14px;}
    .top-items {
        padding-top: 10px;
        div {  display: inline;  margin-right: 12px;  }
    }
    .top-items-left {  float: left;  }
    .top-items-right {  float: right; }
}

#content {
  font-size: 115%;
}

.highlight pre {
    background: #5C6777;
}
.image-inline {
  display: inline-block;
  padding: 1em 0.5em 1em 0;
  background-color: transparent;
  text-align: left;
}
.image-left {
  background-color: transparent;
  text-align: left;
}
.image-float-left {
  background-color: transparent;
  float: left;
  clear: both;
  padding: 0 0.5em 0 0;
}
.image-right {
  background-color: transparent;
  text-align: right;
}
.image-center {
  background-color: transparent;
  text-align: center;
}

.image-vendor-logo {
  background-color: transparent!important;
  text-align: left;
  padding-bottom: 0.5em;
  padding-top: 1.5em;
}
.image-vendor-logo img {
    max-height: 75px;
}
img.system-logo {
    max-height: 75px;
}
.rb-divider {
  color: $rb-gold;
}

/* Influences the Section behavior */
#header-wrapper-mp #page-title {
  height: 500px;
  width: 100%;
  padding: 80px 0 70px 0; }
#header-wrapper-mp #page-title .page-title-details {
  top: 25%;
  position: relative; }
#header-wrapper-mp #page-title .page-title-details h1 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 66px; }
#header-wrapper-mp #page-title .page-title-details ul {
  padding: 2px 12px 2px 12px;
  display: inline-block;
  margin: 0 auto;
  min-width: 30%;
  background: rgba(255, 255, 255, 0.4); }
#header-wrapper-mp #page-title .page-title-details ul li {
  display: inline-block;
  margin-right: 8px;
  border: none;
  font-family: $font-accident-two;
  font-style: italic;
  color: #333; }
#header-wrapper-mp #page-title .page-title-details ul li:last-child {
  margin-right: 0; }
#header-wrapper-mp #page-title .page-title-details ul li > a {
  font-family: $font-accident-two;
  font-style: italic;
  text-decoration: underline;
  color: #333; }
#header-wrapper-mp #page-title .page-title-details ul li > a:hover {
  color: #de3627; }

/* Dividers */
.dividewhite1 {  height: 10px;  }
.dividewhite2 {  height: 20px;  }
.dividewhite3 {  height: 30px;  }
.dividewhite4 {  height: 40px;  }
.dividewhite6 {  height: 60px;  }
.dividewhite8 {  height: 80px;  }
.dividewhite9 {  height: 90px;  }
.dividewhite10 {  height: 100px;  }
.dividewhite12 {  height: 120px;  }
.dividewhite14 {  height: 140px;  }
.dividewhite16 {  height: 160px;  }
.dividewhite18 {  height: 180px;  }
.dividewhite20 {  height: 200px;  }

/* cover image mixin */
@mixin cover-image($url) {
    background: url($url) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

.cover-image-senaite {
    @include cover-image("/img/systems/senaite_teaser.jpg");
}

.cover-image-plone {
    @include cover-image("/img/systems/plone_teaser.jpg");
}
